h3 {
  font-size: 1.3em;
}

#checkout-form {
  text-align: center;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;
  color: #525252;
  font-size: 1.1rem;
  height: 9em;
}

#checkout-button {
  margin-top: 1em;
}

.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e5e5e5;
  height: auto;
}

.message {
  margin-bottom: 0;
  text-align: center;
}
