<div>
  <label for="tasso">Tasso alcolemico: </label><input type="text" id="tasso" [formControl]="tasso">
</div>
<div>
  <input type="checkbox" id="rifiutato" [formControl]="rifiutato"><label for="rifiutato">Il conducente ha rifiutato l'accertamento</label>
</div>
<div>
  <input type="checkbox" id="estraneo" [formControl]="estraneo"><label for="estraneo">Il veicolo appartiene a persona estranea al reato</label>
</div>
<div>
  <input type="checkbox" id="recidiva" [formControl]="recidiva"><label for="recidiva">E' contestabile la recidiva nel biennio</label>
</div>
<div>
  <input type="checkbox" id="incidente" [formControl]="incidente"><label for="incidente">Il conducente del veicolo ha causato un incidente</label>
</div>

<ul id="result" *ngIf="calcolaPena().valid">
  <li *ngIf="calcolaPena().minAmmenda > 0">autorità competente: tribunale in composizione monocratica</li>
  <li *ngIf="calcolaPena().minSanzione > 0">sanzione amministrativa del pagamento di una somma compresa tra {{calcolaPena().minSanzione}} e {{calcolaPena().maxSanzione}} euro</li>
  <li *ngIf="calcolaPena().minAmmenda > 0">ammenda da {{calcolaPena().minAmmenda}} a {{calcolaPena().maxAmmenda}} euro</li>
  <li *ngIf="calcolaPena().fermo">fermo amministrativo del veicolo per 180 giorni<br></li>
  <li *ngIf="calcolaPena().minArresto > 0 && calcolaPena().minArresto === 0">arresto fino a {{calcolaPena().minArresto}} mesi</li>
  <li *ngIf="calcolaPena().minArresto > 0 && calcolaPena().minArresto > 0">arresto da {{calcolaPena().minArresto}} a {{calcolaPena().maxArresto}} mesi</li>
  <li *ngIf="calcolaPena().minSospensione > 0">sanzione amministrativa accessoria della sospensione della patente di guida compresa tra {{calcolaPena().minSospensione}} e {{calcolaPena().maxSospensione}} mesi</li>
  <li *ngIf="calcolaPena().revoca">revoca della patente ai sensi del capo I, sezione II, del titolo VI CdS</li>
  <li *ngIf="calcolaPena().confisca">confisca in caso di sentenza di condanna ovvero di applicazione della pena su richiesta delle parti, anche se è stata applicata la sospensione condizionale della pena</li>
  <li *ngIf="calcolaPena().minAmmenda > 0">le disposizioni relative alle sanzioni accessorie summenzionate si applicano anche in caso di applicazione della pena su richiesta delle parti</li>
</ul>
