<header>
  <h2>Login</h2>
</header>

<section id="login" class="box">
  <div class="row uniform 50%">
    <div class="6u 12u(mobilep)">
      <input type="text" id="codicefiscale" [formControl]="codicefiscale" placeholder="Codice Fiscale"><label for="codicefiscale">Codice Fiscale</label>
    </div>
    <div class="6u 12u(mobilep)">
      <input type="password" id="password" [formControl]="password" placeholder="Password"><label for="password">Password</label>
    </div>
  </div>
  <p>{{response}}</p>
</section>

<button class="button special" (click)="login()">Accedi</button>
