<div *ngIf="user.isDefined && request.isDefined" class="form-group">
  <h3 class="centered my-h3">Documentazione relativa alla richiesta di assistenza</h3>
  <h5 class="my-h5">File inviati - <span class="icon orange clickable fa-refresh" (click)="updateFilesList()"></span></h5>
  <div ng-ts-spinner [spinOn]="communicatingFiles" [options]="{scale: 0.2}" class="spinnerDiv">
    <div class="insideSpinner">
      <ng-container *ngIf="filesListError.isEmpty">
        <table class="alt">
          <thead>
          <tr>
            <td>Nome file</td>
            <td>Comandi</td>
          </tr>
          </thead>
          <ng-container *ngIf="alreadyUploadedFiles.length > 0">
            <tr *ngFor="let file of alreadyUploadedFiles">
              <td class="file-td">{{file}}</td>
              <td class="centered">
                <span class="orange icon clickable fa-picture-o ok_margin_sides" (click)="getFile(file)"></span>
                <span class="orange icon clickable fa-trash-o ok_margin_sides" (click)="deleteFile(file)"></span>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="alreadyUploadedFiles.length === 0">
            <tr>
              <td>[Nessun file caricato]</td>
              <td></td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
      <ng-container *ngIf="filesListError.isDefined">
        <p class="no_margin_bottom">{{filesListError.get}}</p>
        <button class="button special small ok_margin_bottom" (click)="updateFilesList()">Riprova</button>
      </ng-container>
    </div>
  </div>
  <h5 class="my-h5">Invio nuovi file</h5>
  <input type="file" id="fileInput" (change)="handleFileInput(fileInput.files)" style="display: none" #fileInput>
  <button *ngIf="!fileToUpload.isDefined" class="button special" (click)="fileInput.click()">Seleziona file</button>
  <button *ngIf="fileToUpload.isDefined" class="button special" (click)="uploadFile()">Invia file</button>
  <p class="no_margin_bottom" style="font-size: small">Sono consentiti i seguenti formati: jpeg, png, tiff</p>
  <p *ngIf="fileStatus.length > 0">{{fileStatus}}</p>
</div>
