/* You can add global styles to this file, and also import other style files */

.my-h5 {
  font-weight: 600
}

.my-h3 {
  font-size: 1.3em;
}

.button-link {
  border-style: none !important;
}

.spinner-overlay {
  position: fixed !important;
}

.lb-close {
  border-style: none !important;
}

.spinnerDiv {
  position: relative;
}

.no_margin_bottom {
  margin: 0;
}

.ok_margin_bottom {
  margin-bottom: 2em;
}

.ok_margin_sides {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.insideSpinner {
  min-height: 50px;
}

.centered {
  text-align: center;
}

.orange {
  color: #e89980;
}

.clickable {
  cursor: pointer;
}

.centered {
  text-align: center;
}
