h5 {
  font-weight: 600
}

.no_margin_bottom {
  margin: 0;
}

.ok_margin_bottom {
  margin-bottom: 2em;
}

.ok_margin_sides {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.spinnerDiv {
  position: relative;
}

.insideSpinner {
  min-height: 50px;
}

.centered {
  text-align: center;
}

.orange {
  color: #e89980;
}

.clickable {
  cursor: pointer;
}
