<div class="row">
  <div class="col-6 col-12-narrower">
    <section id="parametri" class="box">
      <div *ngIf="userInfoError.isEmpty && user.isDefined">
        <h2>I tuoi dati personali</h2>
        <ul>
          <li><b>Codice Fiscale: </b> {{user.get.codicefiscale}}</li>
          <li><b>Nome: </b> {{user.get.nome}}</li>
          <li><b>Cognome: </b> {{user.get.cognome}}</li>
          <li><b>e-mail: </b> {{user.get.email}}</li>
        </ul>
      </div>
      <div *ngIf="userInfoError.isDefined">
        <ul>{{userInfoError.get}}</ul>
      </div>
    </section>
  </div>
  <div class="col-6 col-12-narrower">
    <section *ngIf="userInfoError.isEmpty && user.isDefined && request.isDefined" id="richiesta" class="box">
      <div>
        <h2>La tua ultima richiesta di assistenza</h2>
        <ul class="no_margin_bottom">
          <li><b>ID richiesta: </b> {{request.get.id}}</li>
          <li><b>Data richiesta: </b> {{request.get.requestDate.toLocaleString([], {day: "2-digit", month: "long", year: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"})}}</li>
        </ul>
        <!--instanceof is not available in templates, so we check for the existence of a field only present in DrunkDriving-->
        <ul *ngIf="drunkDriving.isDefined">
          <li><b>Tipo richiesta: </b>Guida in stato di ebbrezza</li>
          <li><b>Rilevazione tasso alcolemico: </b> {{drunkDriving.get.tasso}} grammi/litro</li>
          <li><b>Recidiva: </b> {{drunkDriving.get.recidiva === true ? 'sì' : 'no'}}</li>
          <li><b>Rifiuto accertamento: </b> {{drunkDriving.get.rifiutato === true ? 'sì' : 'no'}}</li>
          <li><b>Veicolo appartenente a estraneo: </b> {{drunkDriving.get.estraneo === true ? 'sì' : 'no'}}</li>
          <li><b>Incidente: </b> {{drunkDriving.get.incidente === true ? 'sì' : 'no'}}</li>
        </ul>
        <hr>
        <div class="form-group">
          <h4>Documentazione relativa alla richiesta di assistenza</h4>
          <h5>File inviati</h5>
          <div ng-ts-spinner [spinOn]="communicatingFiles" [options]="{scale: 0.2}" class="spinnerDiv">
            <div class="insideSpinner">
              <ng-container *ngIf="filesListError.isEmpty">
                <table class="alt">
                  <thead>
                    <tr>
                      <td>Nome file</td>
                      <td>Comandi</td>
                    </tr>
                  </thead>
                  <ng-container *ngIf="alreadyUploadedFiles.length > 0">
                    <tr *ngFor="let file of alreadyUploadedFiles">
                      <td>{{file}}</td>
                      <td class="centered">
                        <span class="orange icon clickable fa-picture-o ok_margin_sides" (click)="getFile(file)"></span>
                        <span class="orange icon clickable fa-trash-o ok_margin_sides" (click)="deleteFile(file)"></span>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="alreadyUploadedFiles.length === 0">
                    <tr>
                      <td>[Nessun file caricato]</td>
                      <td></td>
                    </tr>
                  </ng-container>
                </table>
              </ng-container>
              <ng-container *ngIf="filesListError.isDefined">
                <p class="no_margin_bottom">{{filesListError.get}}</p>
                <button class="button special small ok_margin_bottom" (click)="updateFilesList()">Riprova</button>
              </ng-container>
            </div>
          </div>
          <h5>Invio nuovi file</h5>
          <input type="file" id="fileInput" (change)="handleFileInput(fileInput.files)" style="display: none" #fileInput>
          <button *ngIf="!fileToUpload.isDefined" class="button special" (click)="fileInput.click()">Seleziona file</button>
          <button *ngIf="fileToUpload.isDefined" class="button special" (click)="uploadFile()">Invia file</button>
          <p class="no_margin_bottom" style="font-size: small">Sono consentiti i seguenti formati: jpeg, png, tiff</p>
          <p *ngIf="fileStatus.length > 0">{{fileStatus}}</p>
        </div>
      </div>
      <hr>
    </section>
    <section *ngIf="userInfoError.isEmpty && user.isDefined && !request.isDefined" id="emptyReq" class="box">
      <div>
        <h2>Non sono presenti richieste di assistenza</h2>
      </div>
    </section>
  </div>
</div>
